body {
    text-align: center;
    color: white;
    font-family: 'Audiowide', cursive;
    background: rgb(122, 217, 243);
}

h2 {
    text-transform: uppercase;
}

button {
    padding: .5em;
    border-radius: .3em;
    cursor: pointer;
    margin-top: 1em;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #1976D2
}

#reset {
    padding: .5em;
    border-radius: .3em;
    cursor: pointer;
    margin-top: 1em;
    border: none;
    color: #1976D2;
    background-color: white;
    font-weight: bold;
}

button:hover, button:active {
    opacity: .7
}

img {
    cursor: pointer;
}

img:hover {
    opacity: .7
}

.visible {
    opacity: 1;
    transition: all 1s
}

.score {
    margin: .5em auto;
}

.score span {
    text-transform: uppercase;
    font-size: 2em
}

canvas {
    margin-top: -3em
}